<ion-modal-view>
  <ion-header-bar class="border-header">
    <h1 class="title">Avalie seu amigo:</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeFoto()"><i class="ion-android-close btn-fechar"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>


  <div >
  <p style="text-align:center;">Avalie seu amigo</p>
  <ionic-ratings ratingsobj='ratingsObject' index='0'></ionic-ratings>
  <br><br><br><br><br>
  </div>

<div class="button-bar">
  <a class="button ion-checkmark" ng-click="closeFoto()"> Salvar</a>
  <a class="button ion-android-camera" ng-click="closeFoto()"> Nova Foto</a>
</div>





  </ion-content>


</ion-modal-view>
