<ion-view view-title="Doar" hide-back-button="true" can-swipe-back="false" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button ion-plus-round" icon-only ng-click="irParaAdicionarLivroDoar()"></button>
    <!--<button class="button ion-android-arrow-forward icon-right" icon-only ng-click="seguinteDoar()"></button>-->
  </ion-nav-buttons>
  <ion-content class="padding">

     <!--<button class="button ion-android-add" icon-only ng-click="irParaAdicionarLivroDoar()"></button>
     <button class="button ion-android-arrow-forward icon-right" icon-only ng-click="seguinteDoar()"></button>-->

     <!--<button class="button" icon-only ng-click="buscarMeusLivrosDoarAdicionados()">Buscar</button>

     <p>{{rootScopeArray}}</p>-->

     <p style="text-align: center;">Abaixo estão os livros que você irá doar:</p>

     <!-- grid -->
     <div class="row" ng-repeat="item in rootScopeArray track by $index" ng-if="$index % 5 == 0">
       <div class="col-xs-4 item-box"
       ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3, $index + 4]"
       ng-if="rootScopeArray[i] != null">
        <div style="width:64px;height:100px;">{{rootScopeArray[i]}}</div>
      </div>
    </div>
     <!--<div class="row">
       <div class="col" ng-repeat="item in rootScopeArray">{{item}}</div>
     </div>-->
     <!--<ion-list>
       <ion-item ng-repeat="item in rootScopeArray">
         {{item}}
       </ion-item>
     </ion-list>-->

  </ion-content>
  <!-- tab -->
  <div class="tabs tabs-icon-top tabs-positive">
    <a class="tab-item">
      <i class="icon ion-android-arrow-forward" ng-click="irParaAdicionarPontoEncontroDoar()"></i>
      Próximo
    </a>
  </div>
  <!--<div class="tabs tabs-icon-right tabs-positive">
    <a class="tab-item">
      Avançar
      <i class="icon ion-android-arrow-forward" ng-click="seguinteDoar()"></i>
    </a>
  </div>-->
</ion-view>
