<ion-view view-title="Ponto de encontro" cache-view="false">
	<ion-content class="padding">
		<div class="centerDiv">

			<p style="text-align: center;">Como você vai selecionar o ponto de encontro?</p>

      <div class="row">
        <div class="col col-50">
          <button class="button button-block button-positive" ng-click="abrirPoeMapa()">
            <i class="icon ion-map"></i>
            Mapa
          </button>
        </div>
        <div class="col col-50">
          <button class="button button-block button-positive" ng-click="abrirPoePesquisa()">
            <i class="icon ion-android-search"></i>
            Pesquisa
          </button>
        </div>
      </div>

		</div>
	</ion-content>

</ion-view>
