<ion-view view-title="Meus livros" cache-view="false">
	<ion-content class="padding">
		<div class="centerDiv">
			<p style="text-align: center;">Escolha uma opção abaixo:</p>
			<button class="button ion-share button-block button-positive" ng-click="irParaPontoEncontro('doar')">
			  Doar
			</button>
			<button class="button ion-clock button-block button-positive" ng-click="irParaPontoEncontro('emprestar')">
			  Emprestar
			</button>
			<button class="button ion-arrow-swap button-block button-positive" ng-click="irParaPontoEncontro('trocar')">
			  Trocar
			</button>
			<button class="button ion-cash button-block button-positive" ng-click="irParaPontoEncontro('vender')">
			  Vender
			</button>
		</div>
	</ion-content>
</ion-view>
