<ion-view view-title="Meus livros" hide-back-button="true" cache-view="false">
	
  <ion-nav-buttons side="right">
		<button class="button button-icon icon ion-android-notifications" ng-click="notificacoes()"></button>
		<!--<button class="button button-icon icon ion-android-more-horizontal" ng-click="abrirMeusLivrosMais()"></button>-->
  </ion-nav-buttons>
	<!--<ion-nav-buttons side="right">
    <button class="button ion-plus-round" icon-only ng-click="adicionarLivro()"></button>
  </ion-nav-buttons>-->
	<ion-content class="padding">
		<div class="centerDiv" ng-init="buscarMeusLivros()">
			<!--<p>Welcome, {{session.email}}</p>
			<table>
				<tr>
					<td>{{session.email}}</td>
				</tr>
				<tr>
					<td>{{session.email}}</td>
				</tr>
			</table>

			<label class="item item-input">
				<input type="text" placeholder="ID" ng-model="data.id">
			</label>
			<button class="button button-block button-positive" ng-click="buscarLivro()">Buscar</button>

			<p>Livro: {{livnometst}}</p>
			<p>Livro: {{livnome}}</p>-->

			<!--<button ion-button color="light" icon-only ng-click="irParaCadastrarLivro()">
				<ion-icon name="add"></ion-icon>
				Cadastrar
			</button>
			<button class="button ion-android-add" icon-only ng-click="adicionarLivro()"></button>-->
			<div width="100%" align="right">
	      <button class="button button-positive" ng-click="adicionarLivro()">
	        Adicionar
	      </button>
	    </div>
			<br>
			<label class="item item-input">
				<input type="text" placeholder="Filtrar..." ng-model="searchText.livnome">
			</label>
			<ion-list ng-repeat="livro in livros | filter: searchText">
				<ion-item ng-click="meuLivroClicado(livro.livroId, livro.id)">
					<table>
						<tr>
							<td rowspan="2" style="padding-right: 10px;vertical-align: middle;">
								<ion-thumbnail item-left>
									<img height="100" ng-src="{{livro.livfoto}}">
								</ion-thumbnail>
							</td>
							<td height="50" style="vertical-align: bottom;text-align: left;">
								<h2>{{livro.livnome}}</h2>
							</td>
						</tr>
						<tr>
							<td height="50" style="vertical-align: top;text-align: left;">
								<p>{{livro.livautor}}</p>
							</td>
						</tr>
					</table>
				</ion-item>
			</ion-list>
			<br><br>
		</div>
	</ion-content>
</ion-view>
