<ion-view view-title="Meus livros" cache-view="false">
	<ion-content class="padding">
		<div>

			<br>
			<ion-list>
				<ion-item type="item-text-wrap" ng-click="abrirListaCompartilhamento()">
					<i class="icon ion-ios-book menu-icons" style="padding-right: 10px;"></i>
					Livros para compatilhamento
				</ion-item>
				<ion-item type="item-text-wrap" ng-click="abrirHistorico()">
					<i class="icon ion-android-time menu-icons" style="padding-right: 10px;"></i>
					Histórico
				</ion-item>
			</ion-list>
			<br><br>

		</div>
	</ion-content>
</ion-view>
