<!--<ion-view view-title="New Password" cache-view="false">
  <ion-content class="padding">

  <form name="newPasswordForm">
    <div class="list list-inset">
            <label class="item item-input">
                <input required type="email" placeholder="E-mail" ng-model="data.email">
            </label>
            <label class="item item-input">
                <input required type="number" placeholder="Reset Code" ng-model="data.token">
            </label>
            <label class="item item-input">
                <input required type="password" placeholder="Nova senha" ng-model="data.password">
            </label>
   </div>
 </form>
      <button class="button button-block button-calm" ng-disabled="!newPasswordForm.$valid"
        ng-click="saveNewPassword()">
        Salvar nova senha
      </button>
      <p>Um Reset Code foi enviado para seu endereço de e-mail. Insira o código acima juntamente com sua nova senha desejada e clique em Salvar nova senha.</p>
      <button class="button button-clear button-positive" ng-click="mailNewCode()">
       Enviar um novo Reset Code?
     </button>
  </ion-content>
</ion-view>
-->
<ion-view view-title="New Password" cache-view="false">
  <ion-content class="padding" id="login-background" style="text-align: center;">

  <form name="newPasswordForm">
    <div class="list list-inset">
            <label class="item item-input">
                <input required type="email" placeholder="E-mail" ng-model="data.email">
            </label>
            <label class="item item-input">
                <input required type="number" placeholder="Reset Code" ng-model="data.token">
            </label>
            <label class="item item-input">
                <input required type="password" placeholder="Nova senha" ng-model="data.password">
            </label>
   </div>
 </form>
      <button class="button button-block button-positive" ng-disabled="!newPasswordForm.$valid"
        ng-click="saveNewPassword()">
        Salvar nova senha
      </button>
      <p style="color:white;text-align: justify;">Um Reset Code foi enviado para seu endereço de e-mail. Insira o código acima juntamente com sua nova senha desejada e clique em Salvar nova senha.</p>
      <button class="button button-clear button-positive" style="color:white;" ng-click="mailNewCode()">
       Enviar um novo Reset Code?
     </button>
  </ion-content>
</ion-view>
